@font-face {
  font-family: 'Radio Canada';
  src: url('../fonts/radio-canada/radio-canada.woff2') format('woff2'),
       url('../fonts/radio-canada/radio-canada.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 20px;
}

body {
  font-family: "Radio Canada", "Helvetica", "Arial", sans-serif;
  line-height: 1.3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

a,
a:link,
a:visited {
  color: #f47321;
}

a:hover {
  color: #005030;
  transition: color 0.5s linear;
}

h1 {
  margin: 0;
  margin-left: -10000px;
  height: 0;
}

img[src$="svg"] {
  width: 100%;
}

address a {
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  background-position: 0 center;
  padding-left: 1.25rem;
}

address a[href^="mailto"] {
  background-image: url("../img/mail.svg");
}

address a[href^="tel"] {
  background-image: url("../img/call.svg");
}

#wrapper {
  max-width: 50vw;
}


@media(max-width: 1080px) {
  #wrapper {
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30vh;
  }
}

@media(max-width: 810px) {
  body {
    margin-top: 4rem;
    align-items: flex-start;
    height: 80vh;
  }
  #wrapper {
    max-width: 92vw;
  }
}

@media(max-width: 414px) {
  html {
    font-size: 18px;
  }
}

@media(max-width: 240px) {
  html {
    font-size: 14px;
  }

  body {
    height: 80vh;
  }
}
